/*----------- Header -----------*/
body > header > div > div.nav_down_container > div.nav_down_container_left > div:nth-child(1) > a > p::after {
    content: '';
    position: absolute;
    bottom: -1.6vw;
    left: 0;
    right: 0;
    height: 0.4vw;
    background: var(--first-toned-color);
    border-radius: 5em;
}

/*----------- Premier gros bloc (image + description)-----------*/
.container{
    justify-content: space-evenly;
    /*
    background-color:indianred;
    */
    height:67vw;
}

/*------------ Bloc gauche (grande image + 3 petites images) ------------*/
.top-container{
    /*
    background-color:cornflowerblue;
    */
    height:20%;
    width:100%;
    gap:1vw;
}


/*------------ Bloc Bas (description etc) ------------*/
.bottom-container{
    background-color:white;
    height:65%;
    width:100%;
    border-radius: 2vw;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-left{
    background-color:#5DC185;
    height:100%;
    width:40%;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding:3vw;
}

.bottom-left p,.bottom-left h2{
    color:white;
}

.bottom-left h2{
    font-weight: 500 ;
    margin-bottom: 1vw;
}
.bottom-left p{
    font-weight: 300 ;
}

.titre-info{
    margin-bottom: 3vw;
}

/* Bouton */
.toucano-informations{
    justify-content: center;
}
.phone-number h3,.mail h3,.place h3 {
    color: white;
}
.phone-number img,.mail img,.place img {
    width:7%;
    margin-left:1vw;
}
.phone-number,.mail,.place {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:1vw;

    border-radius: 20vw;
    height:3.5vw;
    width:100%;
    padding-left:1vw;
    padding-bottom:0.1vw ;
    background-color: #5DC185;

    font-weight:600;
    font-size: 0.8vw;
    margin-top:2vw;

    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.15);


}

.phone-number:hover,.mail:hover,.place:hover{
    cursor:pointer;
    opacity: 80%;

}

/* Réseaux sociaux*/
.icons{
    display: flex;
    gap:1vw;
    align-items: flex-end;
    margin-top:7vw;
}

.icons img{
    width:10%;
    margin-top:1.3vw;
    margin-left: 1vw;

}
.icons img:nth-child(1){
    width:6%;
}


/*------------ Bloc Bas droite ------------*/

.bottom-right {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding: 3vw;
    width: 100%;
    height: 100%;
    gap: 3vw;
}

.top_container, .mid_container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

body > div.app > div > div.bottom-container.d_flex_row.d_shadow > div.bottom-right > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 40%;
}

.stroke {
    width: 100%;
    height: 2px;
    background-color: var(--first-color-dark);
}

.left_part, .right_part {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 60%;
}

.message_container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

.left_part > p, .right_part > p, .message_container > p  {
    font-size: 1.2vw;
}

.bottom_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.btn-send {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}


.bottom-container.d_flex_row.d_shadow > div.bottom-right > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.d_flex_row.d_shadow > div.bottom-right > div:nth-child(2) > div.bottom_container > a {
    background-color: var(--second-toned-color);
    padding: 1.7vw 5vw;
    width: auto;
    color: white;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}

.bottom-container.d_flex_row.d_shadow > div.bottom-right > div:nth-child(2) > div.message_container > div {
    margin-top: 8vw;
}

