<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion-laptop</title>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="..//application-Web/connexion.css">

</head>
<body>

<main>
    <a href="#"><img src="../img/logos/pictograms/arrow.svg" alt=""></a>
    <div class="container_form">
        <div>
            <div>
                <img src="../img/logos/normal/logo_white.svg" alt="">
                <p>On joue mais chacun ses goûts !</p>
            </div>
        </div>
        <div class="form_container">
            <div>
                <div>
                    <p>Bonjour</p>
                    <p>Connectez-vous à votre compte</p>
                </div>
                <div>
                    <p>Vous n’avez pas de compte ?</p>
                    <a href="#">Créez le</a>
                </div>

            </div>
            <div>

            </div>
        </div>
    </div>
</main>

</body>
</html>