<!--CONTACT-->

<!-- ===== CSS ===== -->
<link rel="stylesheet" href="css/contact.css">


<div class="container d_flex_column">

    <div class="top-container d_flex_column">
        <h1>Nous Contacter</h1>
        <p>Une question ou une remarque ? Écrivez-nous un message !</p>
    </div>


    <div class="bottom-container d_flex_row d_shadow">

        <div class="bottom-left">

            <div class="titre-info">
            <h2>Informations de contact</h2>
            <p>Remplissez le formulaire et notre équipe vous répondra dans les 24 heures.</p>
            </div>

            <div class="toucano-informations">
                <div class="phone-number">
                    <img src="img/contact/phone.svg" alt="phone">
                <p>06 28 23 12 65</p>
                </div>
                <div class="mail">
                    <img src="img/contact/mail.svg" alt="mail">
                    <p>toucanoludio@gmail.com</p>
                </div>
                <div class="place">
                    <img src="img/contact/place.svg" alt="place">
                    <p>4 Place Tharradin, 25200 Montbéliard</p>
                </div>
            </div>

                <div class="icons">
                    <!--<a href="http://facebook.com">--><img src="img/contact/facebook.svg" alt="Facebook" ></a>
                    <!--<a href="http://instagram.com">--><img src="img/contact/instagram.svg" alt="Instagram"></a>
                    <!--<a href="http://twitter.com">--><img src="img/contact/twitter.svg" alt="Twitter"></a>
                </div>
            </div>

        <div class="bottom-right">
            <div>
                <div class="top_container">
                    <div class="left_part">
                        <p>Prénom</p>
                        <input type="text" placeholder="Toucano"/>
                        <div class="stroke"></div>
                    </div>
                    <div class="right_part">
                        <p>Nom</p>
                        <input type="text" placeholder="Ludio"/>
                        <div class="stroke"></div>
                    </div>
                </div>
                <div class="mid_container">
                    <div class="left_part">
                        <p>Mail</p>
                        <input type="text" placeholder="toucanoludio@gmail.com"/>
                        <div class="stroke"></div>
                    </div>
                    <div class="right_part">
                        <p>Téléphone</p>
                        <input type="text" placeholder="+33 6 xx xx xx xx"/>
                        <div class="stroke"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="message_container">
                    <p>Message</p>
                    <input type="text" placeholder="Ecrivez votre message..."/>
                    <div class="stroke"></div>
                </div>
                <div class="bottom_container">
                    <a href="" class="btn-send d_flex_row">Envoyer</a>
                </div>
            </div>
        </div>
        </div>


    </div>

