<!-- Games of the month -->
<link rel="stylesheet" href="css/games-of-the-month.css">

<div>
        <h1>JEUX DU MOIS DE MARS 2021</h1>

        <div class="container">
            <div class="container_top">
                <h4>quoridor</h4>
                <p>Sortez du labyrinthe mouvant. Trouvez l’équilibre entre avancer et gêner les déplacements de votre adversaire pour être le premier à traverser le plateau.</p>
            </div>
            <div class="container_down" style="cursor: pointer">
                <div style="cursor: pointer" >
                    <p>DÉCOUVRIR</p>
                    <img src="img/logos/pictograms/arrow_down.svg" alt="">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container_top">
                <h4>DANY</h4>
                <p>DANY est un jeu de cartes qui fait appel à l'imagination, la déduction et la malice des joueurs. Chaque joueur évolue dans le jeu en tenant secrètement un rôle.</p>
            </div>
            <div class="container_down" style="cursor: pointer">
                <div style="cursor: pointer">
                    <p>DÉCOUVRIR</p>
                    <img src="img/logos/pictograms/arrow_down.svg" alt="">
                </div>
            </div>

    </div>

    <!--    Grid Games ad-->
    <div class="content_games">
        <h5>VOIR AUSSI : </h5>

        <div class="wrapper_games">

            <div class="grid_items_games">
                <div>
                    <a href="">
                        <img src="img/games/JardinOrient.jpg" alt="">
                    </a>
                </div>
                <div class="data">
                    <a href="#">Jardins d'Orient</a>
                    <a href="#">Martin Dolezal</a>
                </div>
            </div>

            <div class="grid_items_games">
                <div>
                    <a href="">
                        <img src="img/games/Edamane.jpg" alt="">
                    </a>
                </div>
                <div class="data">
                    <a href="#">Edamane</a>
                    <a href="#">Sorry We Are French</a>
                </div>
            </div>

            <div class="grid_items_games">
                <div>
                    <a href="">
                        <img src="img/games/Greenville.jpg" alt="">
                    </a>
                </div>
                <div class="data">
                    <a href="#">Greenville 1989</a>
                    <a href="#">Sorry We Are French</a>
                </div>
            </div>

        </div>
    </div>

</div>