<!-- Click on game 1 -->
<link rel="stylesheet" href="css/clickonproduct.css">


<div class="container d_flex_row">

    <div class="left-container d_flex_column">
    <div class="d_shadow d_flex_column" >
        <img src="img/clickonproduct/7-wonders-duel-1.jpg" alt="7 Wonders Duel">
        <img src="img/clickonproduct/favorite-empty.svg" alt="favorite" onclick="this.src='img/clickonproduct/favorite-full.svg'" />
            <div class="heart-btn">
                <div class="content">


            </div>

          <!--  <script>
                $(document).ready(function(){
                    $('.content').click(function(){
                        $('.content').toggleClass("heart-active")
                        $('.text').toggleClass("heart-active")
                        $('.numb').toggleClass("heart-active")
                        $('.heart').toggleClass("heart-active")
                    });
                });
            </script>-->
        </div>
    </div>


    <div class="d_flex_row">
        <div class="d_flex_row d_shadow">
            <img src="img/clickonproduct/7-wonders-duel-1.jpg" alt="7 Wonders Duel">
        </div>
        <div class="d_flex_row d_shadow">
            <img src="img/clickonproduct/7-wonders-duel-2.jpg" alt="7 Wonders Duel">
        </div>
        <div class="d_flex_row d_shadow">
            <img src="img/clickonproduct/7-wonders-duel-3.jpg" alt="7 Wonders Duel">
        </div>
    </div>
    </div>


    <div class="right-container">


        <div class="titles">
            <h1>7 Wonders Duel</h1>
            <h2>Repos Production</h2>
        </div>

        <div class="stars d_flex_row">
            <img src="img/logos/declination/declination_orange.svg" alt="stars"><p>&nbsp;</p><p>&nbsp;</p>
            <img src="img/logos/declination/declination_orange.svg" alt="stars"><p>&nbsp;</p><p>&nbsp;</p>
            <img src="img/logos/declination/declination_orange.svg" alt="stars"><p>&nbsp;</p><p>&nbsp;</p>
            <img src="img/logos/declination/declination_orange.svg" alt="stars"><p>&nbsp;</p><p>&nbsp;</p>
            <img class=opacity src="img/logos/declination/declination_orange.svg" alt="stars"><p>&nbsp;</p><p>&nbsp;</p>
        </div>

        <div class="categories">
            <div class="strategie">
                <img src="img/clickonproduct/question.svg" alt="question">
                <p>Statégie</p>
            </div>

            <div class="age">
                <img src="img/clickonproduct/age.svg" alt="age">
                <p>Dès 14 ans</p>
            </div>

            <div class="time">
                <img src="img/clickonproduct/time.svg" alt="time">
                <p>90 min</p>
            </div>
        </div>

            <div class="line"></div>

        <div class="description">
            <p>Bienvenue dans 7 Wonders Duel ! 7 Wonders Duel est un jeu pour 2 joueurs dans l'univers du best-seller 7 Wonders.<br><br>
                Il reprend les principaux mécanismes de son grand frère, mais propose un nouveau challenge adapté spécialement pour les face à face !
                <br><br>Une bonne variante uniquement pour deux joueurs, les mécanismes de base sont vite assimilées et on adhère de suite !</p>
        </div>

        <div class="buttons">
            <div class="see-offers button">
                <img src="img/clickonproduct/offers.svg" alt="VOIR LES OFFRES">
                <h3>VOIR LES OFFRES</h3>

            </div>
            <div class="ludotheque button" >
                <img src="img/clickonproduct/ludotheque.svg" alt="LUDOTHÈQUE">
                <h3>LUDOTHÈQUE</h3>
            </div>
        </div>

    </div>
</div>

<div class="ad_premium">
    <div class="container_ad_premium">
        <div>
            <h5>PASSEZ EN COMPTE PREMIUM</h5>
            <p>et recevez 1 nouveau jeu chaque mois</p>
        </div>

        <a onclick="toPath('premium')"><span>COMMENCER</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="96.568" height="96.568" viewBox="0 0 96.568 96.568">
                <g id="logo_arrow_round" transform="translate(-1442.719 -2527)">
                    <circle id="logo_arrow_round-2" data-name="logo_arrow_round" cx="32" cy="32" r="32" transform="translate(1472 2543)" fill="#fff"/>
                    <g id="arrow_back_white_24dp" transform="translate(1442.719 2527)">
                        <path id="Tracé_271" data-name="Tracé 271" d="M96.568,0H0V96.568H96.568Z" fill="none"/>
                        <path id="Tracé_272" data-name="Tracé 272" d="M6.312,16.9H27.471L18.227,7.652a1.909,1.909,0,0,1,0-2.69,1.886,1.886,0,0,1,2.671,0L33.381,17.445a1.886,1.886,0,0,1,0,2.671L20.9,32.6a1.889,1.889,0,1,1-2.671-2.671l9.244-9.244H6.312a1.894,1.894,0,0,1,0-3.789Z" transform="translate(41.868 29.504)" fill="#feaa28"/>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</div>

<!--    Grid Games ad-->
<div class="content_games">
    <h5>VOIR AUSSI : </h5>

    <div class="wrapper_games">

        <div class="grid_items_games">
            <div>
                <a href="">
                    <img src="img/games/JardinOrient.jpg" alt="">
                </a>
            </div>
            <div class="data">
                <a href="#">Jardins d'Orient</a>
                <a href="#">Martin Dolezal</a>
            </div>
        </div>

        <div class="grid_items_games">
            <div>
                <a href="">
                    <img src="img/games/Edamane.jpg" alt="">
                </a>
            </div>
            <div class="data">
                <a href="#">Edamane</a>
                <a href="#">Sorry We Are French</a>
            </div>
        </div>

        <div class="grid_items_games">
            <div>
                <a href="">
                    <img src="img/games/Greenville.jpg" alt="">
                </a>
            </div>
            <div class="data">
                <a href="#">Greenville 1989</a>
                <a href="#">Sorry We Are French</a>
            </div>
        </div>

    </div>
</div>


