<!-- Heart Stroke -->
<link rel="stylesheet" href="css/heart-stroke.css">



<h1 class="title">Coup de coeur</h1>

<div class="container d_flex_row">

    <div class="mid-container d_flex_row d_shadow"></div>


    <div class="left-container">
        <div class="content d_flex_column d_shadow">
            <h3>Coup de coeur</h3>
            <h1>Hadara, notre jeu coup de coeur</h1>
            <div class="description1">
                <p>Article publié le 13/03/2021</p>
                <p>Hadara vous plonge au cœur des civilisations de notre planète Terre.
                    <br><br>Suivez, à travers 3 époques passionnantes, l’évolution de votre propre monde.
                    <br><br>Vous le peuplerez de personnages issus de plusieurs continents, mais aussi de cultures et
                    d’époques différentes.

                </p>
            </div>

            <div class="lines d_flex_column">
                <div></div>
                <h2>Choisissez judicieusement vos citoyens et vos réalisations afin que votre monde reçoive la gloire
                    et les honneurs qu’il mérite.</h2>
                <div></div>
            </div>

            <div class="description2">
                <p>Mais ne négligez pas votre agriculture, votre développement culturel ou votre puissance militaire :
                    vos adversaires risqueraient de devenir plus puissants que vous.
                    <br><br>Serez-vous le premier à créer la civilisation la plus florissante ?<br><br>Hadara est un
                    jeu simple mais pas simpliste, rapide à expliquer et facile à comprendre.<br><br>Avec une mécanique
                    plaisante, dynamique et qui nous donne envie d'y revenir, on tient forcément un
                    bon jeu !

                </p>
            </div>
        </div>

        <div class="socialmedia">
            <p>Partagez cet article sur :</p>
            <div class="icons">
                <!--<a href="http://facebook.com">--><img src="img/news/facebook.svg" alt="Facebook" ></a>
                <!--<a href="http://instagram.com">--><img src="img/news/instagram.svg" alt="Instagram"></a>
                <!--<a href="http://twitter.com">--><img src="img/news/twitter.svg" alt="Twitter"></a>
            </div>
        </div>

    </div>

    <div class="right-container d_flex_column">

        <div class="images">
            <!--<img class="d_shadow" src="img/news/image1.jpg" alt="product">
            <img class="d_shadow" src="img/news/image2.jpg" alt="product">-->
            <div class="d_shadow"></div>
            <div class="d_shadow"></div>
        </div>

        <div class="see-product button">
            <img src="img/news/see-product.svg" alt="VOIR LES OFFRES">
            <h3>VOIR LA FICHE PRODUIT</h3>
        </div>
    </div>

</div>

<div class="ad_premium">
    <div class="container_ad_premium">
        <div>
            <h5>PASSEZ EN COMPTE PREMIUM</h5>
            <p>et recevez 1 nouveau jeu chaque mois</p>
        </div>

        <a onclick="toPath('premium')"><span>COMMENCER</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="96.568" height="96.568" viewBox="0 0 96.568 96.568">
                <g id="logo_arrow_round" transform="translate(-1442.719 -2527)">
                    <circle id="logo_arrow_round-2" data-name="logo_arrow_round" cx="32" cy="32" r="32" transform="translate(1472 2543)" fill="#fff"/>
                    <g id="arrow_back_white_24dp" transform="translate(1442.719 2527)">
                        <path id="Tracé_271" data-name="Tracé 271" d="M96.568,0H0V96.568H96.568Z" fill="none"/>
                        <path id="Tracé_272" data-name="Tracé 272" d="M6.312,16.9H27.471L18.227,7.652a1.909,1.909,0,0,1,0-2.69,1.886,1.886,0,0,1,2.671,0L33.381,17.445a1.886,1.886,0,0,1,0,2.671L20.9,32.6a1.889,1.889,0,1,1-2.671-2.671l9.244-9.244H6.312a1.894,1.894,0,0,1,0-3.789Z" transform="translate(41.868 29.504)" fill="#feaa28"/>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</div>