<!-- Home Page -->
<link rel="stylesheet" href="css/home-page.css">

<main class="d_flex_column" >
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item">
                <img src="img/pictures/slider/1.jpg" alt="">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="img/pictures/slider/2.jpg" alt="">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img src="img/pictures/slider/3.jpg" alt="">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>

</main>

    <div class="modules_container">
        <div class="modules_container_left">
            <div onclick="toPath('games-of-the-month')" style="cursor:pointer;">
                <p>LES JEUX TENDANCES DU MOIS DE MARS 2021</p>
                <h3>Jeux du mois</h3>
                <button>
                    <a>DÉCOUVRIR</a>
                    <img src="img/logos/pictograms/arrow_down.svg" alt="">
                </button>
            </div>
            <div onclick="toPath('heart-stroke')" style="cursor:pointer;">
                <p>NOTRE COUP DE COEUR DU MOIS</p>
                <h3>Coup de coeur</h3>
                <button>
                    <a>DÉCOUVRIR</a>
                    <img src="img/logos/pictograms/arrow_down.svg" alt="">
                </button>
            </div>
        </div>
        <div class="modules_container_right" onclick="toPath('all-games')" style="cursor:pointer;">
            <div>
                <p>LES MEILLEURES VENTES DU MOIS DE MARS 2021</p>
                <h3>Meilleures ventes</h3>
            </div>
            <div>
                <button>
                    <a>DÉCOUVRIR</a>
                    <img src="img/logos/pictograms/arrow_down.svg" alt="">
                </button>
            </div>
        </div>
    </div>


    <div class="ad_premium">
        <div class="container_ad_premium">
            <div>
                <h5>PASSEZ EN COMPTE PREMIUM</h5>
                <p>et recevez 1 nouveau jeu chaque mois</p>
            </div>

            <a onclick="toPath('premium')"><span>COMMENCER</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="96.568" height="96.568" viewBox="0 0 96.568 96.568">
                    <g id="logo_arrow_round" transform="translate(-1442.719 -2527)">
                        <circle id="logo_arrow_round-2" data-name="logo_arrow_round" cx="32" cy="32" r="32" transform="translate(1472 2543)" fill="#fff"/>
                        <g id="arrow_back_white_24dp" transform="translate(1442.719 2527)">
                            <path id="Tracé_271" data-name="Tracé 271" d="M96.568,0H0V96.568H96.568Z" fill="none"/>
                            <path id="Tracé_272" data-name="Tracé 272" d="M6.312,16.9H27.471L18.227,7.652a1.909,1.909,0,0,1,0-2.69,1.886,1.886,0,0,1,2.671,0L33.381,17.445a1.886,1.886,0,0,1,0,2.671L20.9,32.6a1.889,1.889,0,1,1-2.671-2.671l9.244-9.244H6.312a1.894,1.894,0,0,1,0-3.789Z" transform="translate(41.868 29.504)" fill="#feaa28"/>
                        </g>
                    </g>
                </svg>
            </a>

        </div>
    </div>


    <div class="suggestions">
        <div>
            <h2>SUGGESTIONS</h2>
            <p>Voici une liste de jeux susceptibles de vous plaire</p>
        </div>
        <div class="suggestions_container">
            <div class="suggestions_container_top d_flex_row">

                <div class="suggestions_items d_flex_row">
                    <a class="suggestions_items_left_part d_flex_column" href="https://google.com">
                        <img src="img/pictures/suggestions/img_01.png" alt="">
                    </a>
                    <div class="suggestions_items_right_part">
                        <div>
                            <a href=""><h4>JARDINS  D'ORIENT</h4></a>
                            <p>Construisez le plus beau des jardins !</p>
                        </div>
                        <div>
                            <p>Dans Jardins d'Orient, vous devez accumuler le plus de points possible en complétant des cartes Paysage pour en faire des séries.</p>
                            <div>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                            </div>
                        </div>
                        <a href="https://google.com"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                            <g id="arrow_round" transform="translate(1.5 1.5)">
                                <path id="arrow_round-2" data-name="arrow_round" d="M49,26A23,23,0,1,1,26,3,23,23,0,0,1,49,26Z" transform="translate(-3 -3)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_261" data-name="Tracé 261" d="M18,30.4l9.2-9.2L18,12" transform="translate(5 1.8)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_262" data-name="Tracé 262" d="M12,18H30.4" transform="translate(1.8 5)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            </g>
                        </svg>
                            <span>LIRE LA SUITE</span>
                        </a>
                    </div>
                </div>
                <div class="suggestions_items d_flex_row">
                    <a class="suggestions_items_left_part d_flex_column" href="https://google.com">
                        <img src="img/pictures/suggestions/Zerzura.jpg" alt="">
                    </a>
                    <div class="suggestions_items_right_part">
                        <div>
                            <a href=""><h4>ZERZURA</h4></a>
                            <p>Bienvenue au marché des merveilles</p>
                        </div>
                        <div>
                            <p>Zerzura, l'Oasis des merveilles est disponible, un jeu de collection familial et coloré avec de l'interactivité. Un jeu de réflexion rapide avec une échelle de scoring variable qui donne du piment au jeu !</p>
                            <div>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                            </div>
                        </div>
                        <a href="https://google.com"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                            <g id="arrow_round" transform="translate(1.5 1.5)">
                                <path id="arrow_round-2" data-name="arrow_round" d="M49,26A23,23,0,1,1,26,3,23,23,0,0,1,49,26Z" transform="translate(-3 -3)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_261" data-name="Tracé 261" d="M18,30.4l9.2-9.2L18,12" transform="translate(5 1.8)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_262" data-name="Tracé 262" d="M12,18H30.4" transform="translate(1.8 5)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            </g>
                        </svg>
                            <span>LIRE LA SUITE</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="suggestions_container_bottom d_flex_row">

                <div class="suggestions_items d_flex_row">
                    <a class="suggestions_items_left_part d_flex_column" href="https://google.com">
                        <img src="img/pictures/suggestions/Kicikol.jpg" alt="">
                    </a>
                    <div class="suggestions_items_right_part d_flex_column">
                        <div>
                            <a href=""><h4>KICIKOL</h4></a>
                            <p>Le jeu d'autocollants à la carte</p>
                        </div>
                        <div>
                            <p>Kicikol est disponible ! Un jeu de communication plein d'humour, parfait pour réunir la famille autour de la table ou pour mettre l'ambiance entre amis.</p>
                            <div>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                            </div>
                        </div>
                        <a href="https://google.com"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                            <g id="arrow_round" transform="translate(1.5 1.5)">
                                <path id="arrow_round-2" data-name="arrow_round" d="M49,26A23,23,0,1,1,26,3,23,23,0,0,1,49,26Z" transform="translate(-3 -3)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_261" data-name="Tracé 261" d="M18,30.4l9.2-9.2L18,12" transform="translate(5 1.8)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_262" data-name="Tracé 262" d="M12,18H30.4" transform="translate(1.8 5)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            </g>
                        </svg>
                            <span>LIRE LA SUITE</span>
                        </a>
                    </div>
                </div>
                <div class="suggestions_items d_flex_row">
                    <a class="suggestions_items_left_part d_flex_column" href="https://google.com">
                        <img src="img/pictures/suggestions/GameOff.jpg" alt="">
                    </a>
                    <div class="suggestions_items_right_part">
                        <div>
                            <a href=""><h4>GAME OFF</h4></a>
                            <p>Un Championnat de Duels Acharnés</p>
                        </div>
                        <div>
                            <p>Game Off est le jeu de société qui vous met au défi de tirer le meilleur de vous-même dans des duels éclairs en famille ou entre amis.</p>
                            <div>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                                <span class="checked"><img src="img/logos/declination/declination_orange.svg" alt=""></span>
                            </div>
                        </div>
                        <a href="https://google.com"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                            <g id="arrow_round" transform="translate(1.5 1.5)">
                                <path id="arrow_round-2" data-name="arrow_round" d="M49,26A23,23,0,1,1,26,3,23,23,0,0,1,49,26Z" transform="translate(-3 -3)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_261" data-name="Tracé 261" d="M18,30.4l9.2-9.2L18,12" transform="translate(5 1.8)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                <path id="Tracé_262" data-name="Tracé 262" d="M12,18H30.4" transform="translate(1.8 5)" fill="none" stroke="#5dc185" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                            </g>
                        </svg>
                            <span>LIRE LA SUITE</span>
                        </a>
                    </div>
                </div>
         </div>
     </div>
    </div>

