<!-- Landing Page (Main) -->

<!--CSS-->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/animations.css">
<link rel="stylesheet" href="css/forms/laptop/common.css">
<link rel="stylesheet" href="css/forms/laptop/landing-page/inscription.css">

<!-- ===== JS ===== -->
<link rel="script" href="js/form.js">
<script type="text/javascript" src="js/form.js"></script>

<style>
    body > header {
        display: none;
    }
</style>

<header class="header_landing_page">


    <div class="nav_container">
        <div>
            <img src="img/logos/normal/logo_color.svg" alt="">
        </div>
        <div>

            <a class="btn_registration">INSCRIPTION</a>

            <a class="btn_connexion">CONNEXION</a>

        </div>
    </div>

</header>

<main>
    <div class="main_container">
        <div class="main_container_left">
            <div>
                <h1>On joue mais <br> chacun ses goûts !</h1>
            </div>
            <div>
                <p>Profitez d’une multitude de jeux de société selon vos préférences et vos envie, n’attendez plus et abonnez vous à notre service premium !</p>
            </div>
            <a class="modal_btn" onclick="toPath('home-page')"><img src="img/logos/pictograms/logo_flag.svg" alt=""><span >COMMENCER</span></a>
        </div>

        <div class="main_container_right">
            <img src="img/pictures/board_games_directional_blur.png" alt="">
        </div>
    </div>
</main>

<div class="offers" >
    <div class="offers_data">
        <p>NOS OFFRES</p>
        <h2>Nous parlons à vous, amateurs de jeux de société et <br> vous guidons dans vos expériences de jeux.</h2>
    </div>
    <div class="cards" data-aos="fade-up">
        <div class="cards_items">
            <img src="img/logos/pictograms/logo_discoveries.svg" alt="">
            <p>Découvertes</p>
            <p>Découvrez de nouveaux jeux de société en fonctions de vos goûts qui animeront vos soirées.</p>
        </div>
        <div class="cards_items">
            <img src="img/logos/pictograms/logo_toy_library.svg" alt="">
            <p>Ludothèque</p>
            <p>Construisez votre ludothèque personnalisée en y ajoutant vos jeux favoris.</p>
        </div>
        <div class="cards_items">
            <img src="img/logos/pictograms/logo_recommendations.svg" alt="">
            <p>Recommandations</p>
            <p>Restez informé sur l'actualité liée aux jeux de société et ne ratez pas aucun.</p>
        </div>
    </div>
</div>

<div class="choise">
    <div class="branchs">
        <div class="branchs_items" data-aos="fade-right">
            <div>
                <img src="img/logos/pictograms/logo_innovative.svg" alt="">
            </div>
            <div>
                <h3>Innovant</h3>
                <p>Le 1er site à vous proposer des jeux de société en fonction de vos goûts.</p>
            </div>
        </div>
        <div class="branchs_items" data-aos="fade-right">
            <div>
                <img src="img/logos/pictograms/logo_security.svg" alt="">
            </div>
            <div>
                <h3>SÉCURISÉ</h3>
                <p>TOUCANO LUDIO assure des payements sécurisés et ne partage pas vos données.</p>
            </div>
        </div>
        <div class="branchs_items" data-aos="fade-right">
            <div>
                <img src="img/logos/pictograms/logo_friendly.svg" alt="">
            </div>
            <div>
                <h3>CONVIVIAL</h3>
                <p>Rejoignez une communauté de passionnés prête à vous conseiller.</p>
            </div>
        </div>
    </div>

    <div class="choise_data">
        <img src="img/logos/declination/declination_blue.svg" alt="">
        <h2>Pourquoi choisir <br> TOUCANO LUDIO ?</h2>
        <div>
            <p>Nous mettons en avant les jeux <span style="color: white">tendances</span> et les modes qui submergent.</p>
            <p>Nous sommes une plateforme de <span style="color: white">suggestion</span> de jeux de société et <span style="color: white">achat</span> de ceux-ci.</p>
        </div>
        <div class="d_flex_column" data-aos="fade-left">
            <img class="d_shadow" src="img/pictures/img_article_2.jpg" alt="">
        </div>
    </div>
</div>

<div class="experience">
    <div class="experience_data">
        <p>VOTRE EXPÉRIENCE</p>
        <h2>Qu’attendez-vous ?</h2>
    </div>
    <div class="modules" >
        <div class="modules_items">
            <div class="modules_items_shape">
                <img src="img/logos/pictograms/stain.svg" alt="">
                <img src="img/logos/pictograms/logo_preferences.svg" alt="">
            </div>
            <p><span style="color: var(--first-toned-color)">Créez</span>  vous un compte et définissez vos <span style="color: var(--first-toned-color)">préférences</span> !</p>
        </div>
        <div class="modules_items">
            <div class="modules_items_shape">
                <img src="img/logos/pictograms/stain.svg" alt="">
                <img src="img/logos/pictograms/logo_suggestions.svg" alt="">
            </div>
            <p>Laissez-vous guider par nos <span style="color: var(--first-toned-color)">suggestion</span> et découvrez les nouveaux jeux du moment !</p>
        </div>
        <div class="modules_items">
            <div class="modules_items_shape">
                <img src="img/logos/pictograms/stain.svg" alt="">
                <img src="img/logos/pictograms/logo_subscription.svg" alt="">
            </div>
            <p>Faites le choix d’<span style="color: var(--first-toned-color)">acheter</span> directement le jeu ou alors de souscrire à notre offre d’<span style="color: var(--first-toned-color)">abonnement</span> !</p>
        </div>
        <img src="img/decorations/dotted_lines.svg" alt="">
    </div>
</div>


<div>
    <a onclick="toPath('home-page')"><img src="img/logos/pictograms/logo_flag.svg" alt=""><span>COMMENCER</span></a>
    <a onclick="toPath('team-presentation')">Qui sommes-nous ?</a>
</div>

<div class="modal_bg_registration">

    <div class="container_form">

        <div class="container_left_part">
            <a class="modal_close_registration"><img src="img/logos/pictograms/logo_cross.svg" alt="#"></a>
            <div>
                <p>Salut l’ami !</p>
            </div>

            <div>
                <p>Vous avez déjà un compte ?</p>
                <a class="btn_create_account">Connectez-vous</a>
            </div>

            <div class="container_input">

                <div class="container_email">
                    <img src="img/logos/pictograms/logo_name.svg" alt="#">
                    <label for="profil"></label>
                    <input id="profil" type="text" placeholder="Nom" class="placeholder">
                </div>

                <div class="container_email">
                    <img src="img/logos/pictograms/logo_email.svg" alt="#">
                    <label for="email"></label>
                    <input id="email" type="text" placeholder="E-mail" class="placeholder">
                </div>

                <div class="container_password">
                    <img src="img/logos/pictograms/logo_password.svg" alt="#">
                    <label for="password"></label>
                    <input id="password" type="password" placeholder="Mot de passe" class="placeholder">
                    <img src="img/logos/pictograms/logo_visible.svg" alt="#">
                </div>

                <div class="container_checkbox">
                    <div>
                        <label for="checkbox"></label>
                        <input id="checkbox" type="checkbox">
                        <p>Se souvenir de moi</p>
                    </div>
                    <a href="#">Mot de passe oublié ?</a>
                </div>
            </div>

            <div>
                <a onclick="toPath('home-page')">S'INSCRIRE</a>
            </div>

            <div>
                <p>Ou</p>
            </div>

            <div class="container_networks">
                <a href="https://google.com"><img src="img/logos/networks/logo_facebook_2.svg" alt="">S'inscrire avec Facebook</a>
                <a href="https://google.com"><img src="img/logos/networks/logo_google.svg" alt="">S'inscrire avec Google</a>
            </div>

            <p>
                Protégé par reCAPTCHA et soumis aux <a href="#">Politique de confidentialité</a> et <a href="#">Conditions d’utilisation</a> de Google.
            </p>

        </div>


        <div class="container_right_part">
            <div>
                <p>Content de <br> vous voir !</p>
                <p>Venez découvrir les nouveaux jeux du moment !</p>
            </div>
        </div>
    </div>

</div>

<div class="modal_bg_connexion">
    <div class="container_form">

        <div class="container_left_part">
            <a class="modal_close_connexion"><img src="img/logos/pictograms/logo_cross.svg" alt="#"></a>
            <div>
                <p>Bonjour</p>
                <p>Connectez-vous à votre compte</p>
            </div>

            <div>
                <p>Vous n’avez pas de compte ?</p>
                <a class="btn_connexion_account">Créez le</a>
            </div>

            <div class="container_input">
                <div class="container_email">
                    <img src="img/logos/pictograms/logo_email.svg" alt="#">
                    <label for="email"></label>
                    <input id="email" type="text" placeholder="E-mail" class="placeholder">
                </div>

                <div class="container_password">
                    <img src="img/logos/pictograms/logo_password.svg" alt="#">
                    <label for="password"></label>
                    <input id="password" type="password" placeholder="Mot de passe" class="placeholder">
                    <img src="img/logos/pictograms/logo_visible.svg" alt="#">
                </div>

                <div class="container_checkbox">
                    <div>
                        <label for="checkbox"></label>
                        <input id="checkbox" type="checkbox">
                        <p>Se souvenir de moi</p>
                    </div>
                    <a href="#">Mot de passe oublié ?</a>
                </div>
            </div>

            <div>
                <a onclick="toPath('home-page')">SE CONNECTER</a>
            </div>

            <div>
                <p>Ou</p>
            </div>

            <div class="container_networks">
                <a href="https://google.com"><img src="img/logos/networks/logo_facebook_2.svg" alt="">Se connecter avec Facebook</a>
                <a href="https://google.com"><img src="img/logos/networks/logo_google.svg" alt="">Se connecter avec Google</a>
            </div>

            <p>
                Protégé par reCAPTCHA et soumis aux <a href="#">Politique de confidentialité</a> et <a href="#">Conditions d’utilisation</a> de Google.
            </p>

        </div>

        <div class="container_right_part">
            <div>
                <p>Content de <br> vous revoir !</p>
                <p>Venez découvrir les nouveaux jeux du moment !</p>
            </div>
        </div>
    </div>

</div>










