<!-- NEWS -->
<link rel="stylesheet" href="css/news.css">


<h1 class="title">Nouveautés</h1>

<div class="container d_flex_row">

    <div class="mid-container d_flex_row d_shadow"></div>


    <div class="left-container">
        <div class="content d_flex_column d_shadow">
            <h3>Nouveautés</h3>
            <h1>Pontu, le nouveau jeux de Nicolas Delclite</h1>
            <div class="description1">
                <p>Article publié le 16/03/2021</p>
                <p>Pontu est un excellent jeu de plateau de réflexion et de stratégie, en bois pour 2 à 4 joueurs dès
                    6 ans.<br><br>Dans Pontu, le but est d’isoler son adversaire afin d’être le dernier joueur capable
                    de se déplacer sur le plateau. Pour ce faire, chaque joueur doit à tour de rôle, déplacer un de ses
                    pions (en passant par un pont, d’où le nom !) et enlever un pont de son choix : les possibilités de
                    déplacement de ses 3 lutins de départ se réduisent au fur et à mesure de la partie, et lorsqu’un pion
                    est isolé sans possibilité de se déplacer, il est éliminé.<br><br>Pontu est un jeu simple, facile à
                    comprendre et à mettre en œuvre, mais il peut se révéler stratégiquement complexe.<br><br>Il a
                    remporté plusieurs prix, dont le label EducaFLIP en 2015.
                </p>
            </div>

                <div class="lines d_flex_column">
                    <div></div>
                    <h2>On peut y jouer en famille, mais Pontu est aussi un excellent jeu « de fond de classe ».</h2>
                    <div></div>
                </div>

                <div class="description2">
                    <p>Les règles sont simples à comprendre et le jeu est silencieux (les pions sont dans une sorte de
                        liège...). Il peut aussi être utilisé en ateliers mathématiques ou pour travailler sur la
                        stratégie, la logique et la représentation dans l'espace.
                        <br><br>Enfin, ce qui ne gâte rien, Pontu est jeu en bois éco-responsable fabriqué de manière
                        artisanale en France ! Tout bon.</p>
                </div>
        </div>

        <div class="socialmedia">
            <p>Partagez cet article sur :</p>
            <div class="icons">
                <!--<a href="http://facebook.com">--><img src="img/news/facebook.svg" alt="Facebook" ></a>
                <!--<a href="http://instagram.com">--><img src="img/news/instagram.svg" alt="Instagram"></a>
                <!--<a href="http://twitter.com">--><img src="img/news/twitter.svg" alt="Twitter"></a>
            </div>
        </div>

    </div>

    <div class="right-container d_flex_column">

        <div class="images">
        <!--<img class="d_shadow" src="img/news/image1.jpg" alt="product">
        <img class="d_shadow" src="img/news/image2.jpg" alt="product">-->
            <div class="d_shadow"></div>
            <div class="d_shadow"></div>
        </div>

        <div class="see-product button">
            <img src="img/news/see-product.svg" alt="VOIR LES OFFRES">
            <h3>VOIR LA FICHE PRODUIT</h3>
        </div>
    </div>




</div>

<div class="ad_premium">
    <div class="container_ad_premium">
        <div>
            <h5>PASSEZ EN COMPTE PREMIUM</h5>
            <p>et recevez 1 nouveau jeu chaque mois</p>
        </div>

        <a onclick="toPath('premium')"><span>COMMENCER</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="96.568" height="96.568" viewBox="0 0 96.568 96.568">
                <g id="logo_arrow_round" transform="translate(-1442.719 -2527)">
                    <circle id="logo_arrow_round-2" data-name="logo_arrow_round" cx="32" cy="32" r="32" transform="translate(1472 2543)" fill="#fff"/>
                    <g id="arrow_back_white_24dp" transform="translate(1442.719 2527)">
                        <path id="Tracé_271" data-name="Tracé 271" d="M96.568,0H0V96.568H96.568Z" fill="none"/>
                        <path id="Tracé_272" data-name="Tracé 272" d="M6.312,16.9H27.471L18.227,7.652a1.909,1.909,0,0,1,0-2.69,1.886,1.886,0,0,1,2.671,0L33.381,17.445a1.886,1.886,0,0,1,0,2.671L20.9,32.6a1.889,1.889,0,1,1-2.671-2.671l9.244-9.244H6.312a1.894,1.894,0,0,1,0-3.789Z" transform="translate(41.868 29.504)" fill="#feaa28"/>
                    </g>
                </g>
            </svg>
        </a>

    </div>
</div>