<!-- Premium -->
<link rel="stylesheet" href="css/premium.css">


<div class="intro d_flex_column">

    <svg id="logo_premium" xmlns="http://www.w3.org/2000/svg" width="135.604" height="52.278" viewBox="0 0 135.604 52.278">
        <path id="Tracé_691" data-name="Tracé 691" d="M37.719,15.788l-.862-.117V25.44a.708.708,0,0,1-.76.708,10.067,10.067,0,0,1-8.792-6.866l-.009-.024a10.063,10.063,0,0,1-.5-3.14h0c0-.158,0-.315.011-.471v-.033c.006-.12.016-.24.026-.359a10.051,10.051,0,0,1,9.257-9.168.711.711,0,0,1,.765.705V0A16.107,16.107,0,0,0,20.823,14.593h0v-.085c0,.028,0,.057-.007.085-.271.009-.543.015-.817.015A23.23,23.23,0,0,1,9.616,12.226,17.719,17.719,0,0,1,1.274,3.96,13.823,13.823,0,0,0,0,9.741a14.389,14.389,0,0,0,3.417,9.186,18.107,18.107,0,0,0,3.537,3.266q.182.13.369.255H3.228a9.416,9.416,0,0,0,3.051,5.271A15.369,15.369,0,0,0,12,30.935H7.323a11.292,11.292,0,0,0,10.08,6,11.688,11.688,0,0,0,3.416-.509v7.142A1.682,1.682,0,0,0,22.5,45.248h4.835a14.02,14.02,0,0,0,14.02-14.02L41.312,19.88a4.148,4.148,0,0,0-3.593-4.093Z" transform="translate(0)" fill="#feaa28"/>
        <path id="Tracé_692" data-name="Tracé 692" d="M836.13,255.889A1.892,1.892,0,1,0,838.021,254a1.891,1.891,0,0,0-1.892,1.889Z" transform="translate(-804.954 -244.529)" fill="#feaa28"/>
        <path id="Tracé_693" data-name="Tracé 693" d="M1338.87,1016.9l.049.008-.049-.072Z" transform="translate(-1288.948 -978.925)" fill="#feaa28"/>
        <path id="Tracé_694" data-name="Tracé 694" d="M1066.91,15a16.04,16.04,0,0,0-.947-4.443h0A16.125,16.125,0,0,0,1050.828,0H1037.6a1.1,1.1,0,0,0-1.1,1.1V8.632a7.466,7.466,0,0,0,2.591,5.663c.037.033.075.067.114.1a7.455,7.455,0,0,0,4.779,1.724h21.88A1.047,1.047,0,0,0,1066.91,15Z" transform="translate(-997.852)" fill="#feaa28"/>
        <text id="PREMIUM" transform="translate(48.604 46.278)" fill="#feaa28" font-size="25" font-family="LondrinaSolid-Regular, Londrina Solid" letter-spacing="0.036em"><tspan x="0" y="0">PREMIUM</tspan></text>
    </svg>
    <div class="d_flex_column">
        <h4>Passez de bons moments avec votre famille et vos amis</h4>
        <p>Ayez accès aux jeux tendances tous les mois en recevant votre box</p>
    </div>

</div>

<div class="modules" >
    <div class="modules_items">
        <div class="modules_items_shape">
            <img src="img/logos/pictograms/stain.svg" alt="">
            <img src="img/premium/choise_box.svg" alt="">
        </div>
        <h4>1 - Choisissez votre box</h4>
        <p>Choisissez la box qui vous correspond le mieux, parmi nos 3 sélections.</p>
    </div>
    <div class="modules_items">
        <div class="modules_items_shape">
            <img src="img/logos/pictograms/stain.svg" alt="">
            <img src="img/premium/subscribe.svg" alt="">
        </div>
        <h4>2 - abonnez-vous</h4>
        <p>Pour un mois, pour 6 mois, pour la vie, c’est vous qui choisissez. Vous pouvez vous rétracter à tout moment !</p>
    </div>
    <div class="modules_items">
        <div class="modules_items_shape">
            <img src="img/logos/pictograms/stain.svg" alt="">
            <img src="img/premium/enjoy.svg" alt="">
        </div>
        <h4>3 - profitez</h4>
        <p>Recevez, découvrez et profitez des jeux tendances du mois !</p>
    </div>
    <img src="img/decorations/dotted_lines.svg" alt="">
</div>

<div class="btn_discover_container d_flex_row">
    <div class="btn_discover d_flex_row">
        <p>DÉCOUVRIR LES 3 SÉLECTIONS</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="46" viewBox="0 0 45 46">
            <g id="arrow_down" transform="translate(-1298.948 -2534.731)">
                <ellipse id="Ellipse_26" data-name="Ellipse 26" cx="22.5" cy="23" rx="22.5" ry="23" transform="translate(1298.948 2534.731)" fill="#fff"/>
                <path id="Tracé_272" data-name="Tracé 272" d="M1.339,8.83H16.3L9.765,2.294a1.35,1.35,0,0,1,0-1.9,1.334,1.334,0,0,1,1.889,0L20.48,9.219a1.334,1.334,0,0,1,0,1.889l-8.827,8.827a1.335,1.335,0,1,1-1.889-1.889L16.3,11.509H1.339a1.339,1.339,0,0,1,0-2.679Z" transform="translate(1331.224 2547.484) rotate(90)" fill="#feaa28"/>
            </g>
        </svg>
    </div>
</div>

<div class="choise_box">
    <div>
        <h2>CHOISISSEZ VOTRE BOX</h2>
        <p>Tous les mois, un bilan des jeux tendances est fait en fonction des avis des utilisateurs, et 3 jeux de différentes gammes sont sélectionnés.</p>
    </div>
    <div class="cards_container">
        <div class="cards_items d_shadow">
            <div class="d_flex_column">
                <h4>JEU D’AMBIANCE</h4>
                <p>Pour jouer en toute simplicité lors de soirées entre amis.</p>
            </div>
            <div class="d_flex_column">
                <p>14.99€</p>
                <div>S’ABONNER</div>
            </div>
        </div>
        <div class="cards_items d_shadow">
            <div class="d_flex_column">
                <h4>JEU D’AMBIANCE</h4>
                <p>Pour jouer en toute simplicité lors de soirées entre amis.</p>
            </div>
            <div class="d_flex_column">
                <p>14.99€</p>
                <div>S’ABONNER</div>
            </div>
        </div>
        <div class="cards_items d_shadow">
            <div class="d_flex_column">
                <h4>JEU D’AMBIANCE</h4>
                <p>Pour jouer en toute simplicité lors de soirées entre amis.</p>
            </div>
            <div class="d_flex_column">
                <p>14.99€</p>
                <div>S’ABONNER</div>
            </div>
        </div>
    </div>
</div>

<div class="benefit">
    <div class="left_part d_flex_column">
        <div class="d_flex_row">
            <img src="img/premium/for_life.svg" alt="">
            <div>
                <p>POUR LA VIE</p>
                <p>Une fois votre box reçue, vous l’avez pour la vie !</p>
            </div>
        </div>
        <div class="d_flex_row">
            <img src="img/premium/secure.svg" alt="">
            <div>
                <p>POUR LA VIE</p>
                <p>Une fois votre box reçue, vous l’avez pour la vie !</p>
            </div>
        </div>
    </div>
    <div class="right_part">
        <div class="d_flex_row">
            <p>S'ABONNER</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="46" viewBox="0 0 45 46">
                <g id="arrow_down" transform="translate(-1298.948 -2534.731)">
                    <ellipse id="Ellipse_26" data-name="Ellipse 26" cx="22.5" cy="23" rx="22.5" ry="23" transform="translate(1298.948 2534.731)" fill="#fff"/>
                    <path id="Tracé_272" data-name="Tracé 272" d="M1.339,8.83H16.3L9.765,2.294a1.35,1.35,0,0,1,0-1.9,1.334,1.334,0,0,1,1.889,0L20.48,9.219a1.334,1.334,0,0,1,0,1.889l-8.827,8.827a1.335,1.335,0,1,1-1.889-1.889L16.3,11.509H1.339a1.339,1.339,0,0,1,0-2.679Z" transform="translate(1331.224 2547.484) rotate(90)" fill="#feaa28"/>
                </g>
            </svg>
        </div>
    </div>


</div>