<!-- Team Presentation -->
<link rel="stylesheet" href="css/team-presentation.css">


    <div class="content_container">
        <svg class="arrow_left" onclick="toPath('main')" xmlns="http://www.w3.org/2000/svg" width="29.811" height="29.031" viewBox="0 0 29.811 29.031">
            <path id="arrow_left" d="M32.315,17.02H10.946l9.336-9.336a1.928,1.928,0,0,0,0-2.717,1.905,1.905,0,0,0-2.7,0L4.977,17.574a1.905,1.905,0,0,0,0,2.7L17.584,32.879a1.907,1.907,0,0,0,2.7-2.7l-9.336-9.336H32.315a1.913,1.913,0,1,0,0-3.826Z" transform="translate(-4.418 -4.408)" fill="#000000"/>
        </svg>
        <div class="content_container_part_1">
            <div>
                <h1>Qui sommes-nous ?</h1>
                <h4>Comment tout a commencé ?</h4>
            </div>
            <div>
                <p>Ce projet a été mené dans le cadre d'un travail pour MMI Montbéliard. Il nous a été demandé de trouver un concept de site <span class="bolds_words">innovant</span>. Nous avons donc opté pour un site qui permet de suggérer des jeux de société en fonction de vos préférences.</p>
                <p>Nous avons essayé de retransmettre à travers TOUCANO LUDIO, l'aspect <span class="bolds_words">ludique</span> et <span class="bolds_words">convivial</span> que représentent les jeux de société.</p>
                <p>Nous sommes fier d'avoir conçu un site qui s'adresse à <span class="bolds_words">tous les amateurs</span> de jeux de société et leur permet d’en <span class="bolds_words">découvrir</span> de nouveaux. Notamment d'offrir la possibilité à nos utilisateurs de créer un compte <span class="bolds_words">premium</span> d'ainsi de jouer à de nouveaux jeux.</p>
            </div>
        </div>

        <div class="content_container_part_2">
            <h4>Équipe du projet TOUCANO LUDIO</h4>

            <div class="cards">
                <div class="cards_items">
                    <div>
                        <img src="img/pictures/thibaud.jpg" alt="">
                    </div>
                    <p>Thibaud Detony</p>
                    <p>Design</p>
                    <div>
                        <a href="#"><img src="img/logos/networks/logo_facebook.svg" alt="logo Facebook"></a>
                        <a href="#"><img src="img/logos/networks/logo_instagram.svg" alt="logo Instagram"></a>
                        <a href="#"><img src="img/logos/networks/logo_linkedin.svg" alt="logo Linkedin"></a>
                    </div>
                </div>
                <div class="cards_items">
                    <div>
                        <img src="img/pictures/mathis.jpg" alt="">
                    </div>
                    <p>Mathis Botton</p>
                    <p>Développement</p>
                    <div>
                        <a href="#"><img src="img/logos/networks/logo_facebook.svg" alt="logo Facebook"></a>
                        <a href="#"><img src="img/logos/networks/logo_instagram.svg" alt="logo Instagram"></a>
                        <a href="#"><img src="img/logos/networks/logo_linkedin.svg" alt="logo Linkedin"></a>
                    </div>
                </div>
                <div class="cards_items">
                    <div>
                        <img src="img/pictures/nathan.jpg" alt="">
                    </div>
                    <p>Nathan Broglin</p>
                    <p>Communication</p>
                    <div>
                        <a href="#"><img src="img/logos/networks/logo_facebook.svg" alt="logo Facebook"></a>
                        <a href="#"><img src="img/logos/networks/logo_instagram.svg" alt="logo Instagram"></a>
                        <a href="#"><img src="img/logos/networks/logo_linkedin.svg" alt="logo Linkedin"></a>
                    </d
                </div>

            </div>
        </div>
    </div>
    </div>